{% extends 'base.html' %}

{% block title %}{{admin['username']}} - {{category['cat_name']}}{% endblock %}


{% block header_content %}{{admin['name']}}'s Dashboard{% endblock %}


{% block nav_content %}
<a href="/admin/{{admin['username']}}">Home</a> |
<a href="#">Summary</a> |
<a href="/logout">Logout</a>
{% endblock %}


{% block content %}    
  <h1>Add Product for {{category['cat_name']}} </h1>
  <hr>

    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: lightsalmon;
        }

    
        form {
          max-width: 400px;
          margin: 0 auto;
          background-color: lightgray;
          padding: 20px;
          border-radius: 4px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        label {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
        }
    
        input[type="text"],
        input[type="number"],
        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 16px;
        }
    
        input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px 16px;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
        }
      
      </style>
    </head>
    <body>
      <form action="/{{ admin['username'] }}/{{ category['cat_id'] }}/create" method="POST">
        <label for="product_name">Product Name</label>
        <input type="text" id="product_name" name="product_name" required>
    
        <label for="unit">Unit</label>
        <select id="unit" name="unit" required>
          <option value="" disabled selected>Select a unit</option>
          <option value="kg">kg</option>
          <option value="g">g</option>
          <option value="l">l</option>
          <option value="ml">ml</option>
          <option value="pair">pair</option>
          <option value="pieces">pieces</option>
        </select>
    
        <label for="price">Price/unit</label>
        <input type="number" id="price" name="price" step="0.01" required>
    
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" required>

        <label for="mfc_date">Manufacture Date</label>
        <input type="date" id="mfc_date" name="mfc_date" required>

        <label for="exp_date">Expiry Date</label>
        <input type="date" id="exp_date" name="exp_date" >
        <br>
        <br>
    
        <input type="submit" value="Submit">
      </form>
    
{% endblock %}