{% extends 'base.html' %}

{% block title %}Edit - {{product.product_name}}{% endblock %}


{% block header_content %}{{name}}'s Dashboard{% endblock %}

{% block nav_content %}
<a href="/user/{{user}}">Home</a> |
<a href="/user/{{user}}/profile">Profile </a> |
<a href="/user/{{user}}/cart">Cart</a> |
<a href="/logout">Logout</a>
{% endblock %}


{% block content %}    
    <style>
        body {
            background-color: orangered;
        }
        .buyButton{
            padding: 3px 7px;
            margin-top: 10px;
            background-color:rgb(12, 12, 164); 
            color: white; 
        }
        form {
          max-width: 400px;
          margin: 0 auto;
          background-color: lightgray;
          padding: 20px;
          border-radius: 4px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        label {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
        }
    
        input[type="text"],
        input[type="number"],
        select {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-bottom: 16px;
        }
    
        input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px 16px;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
        }
        .date-container {
            display: flex;
            gap: 20px; /* Adjust the gap as needed */
            align-items: center; /* Center the input fields vertically */
        }
    </style>

    <hr>
    <h1>Edit Order - {{product.product_name}} </h1>
    <hr>
    <form action="/user/{{ user }}/cart/modify/{{ product['product_id'] }}" method="POST">
        <label for="product_name">Product Name</label>
        <input type="text" id="product_name" name="product_name" value = {{product.product_name}}  readonly>    
        <label for="price">Price</label>
        <input type="text" id = "product_price" name = "product_price" value = {{product.price}} readonly>
        <label for="unit">Unit</label>
        <select id="unit" name="unit" readonly required>
        <option value="" readonly>Select a unit</option>
        <option value="kg" {% if product.unit == 'kg' %} selected {% endif %}>kg</option>
        <option value="g" {% if product.unit == 'g' %} selected {% endif %}>g</option>
        <option value="l" {% if product.unit == 'l' %} selected {% endif %}>l</option>
        <option value="ml" {% if product.unit == 'ml' %} selected {% endif %}>ml</option>
        <option value="pair" {% if product.unit == 'pair' %} selected {% endif %}>pair</option>
        <option value="pieces" {% if product.unit == 'pieces' %} selected {% endif %}>pieces</option>
        </select>

        
        
        
      <div class = 'date-container'>
        <label for="mfc_date">Manufacture Date</label>
        <input type="date" id="mfc_date" name="mfc_date" value = {{product.mfc_date}} required readonly>
        <label for="exp_date">Expiry Date</label>
        <input type="date" id="exp_date" name="exp_date" value = {{product.exp_date}} required readonly>
      </div>

              <br>
            <label for="quantity" >Quantity</label>
            <input type="number" id = "quantity" value = {{quantity}} onblur = "quantityfix('{{product.products_left}}','{{product.price}}')"  name="quantity" required >
            
            <label for="price"> Total Amount</label>
            <input type="number" id="price" name="price" value = {{price}}  required readonly>
        <br>
        <br>

        <input type="submit" value="Edit">

      </form>

      <script>
          function quantityfix(maxValue, price) {
              var inputValue = parseInt(document.getElementById('quantity').value);
                  console.log(maxValue)
              if (isNaN(inputValue) || inputValue > maxValue) {
                  alert('Please enter a number less than or equal to ' + maxValue);
                  document.getElementById('quantity').value = ''; // Clear the input field
                  document.getElementById('price').value = ''; // Clear the total amount field
                }
                else if ( inputValue == 0) {
                  alert('Please enter a number more than 0');
                  document.getElementById('quantity').value = ''; // Clear the input field
                  document.getElementById('price').value = ''; // Clear the total amount field
                } 
                else {
                  var totalPrice = parseInt(document.getElementById('quantity').value) * price;
                  document.getElementById('price').value = totalPrice.toFixed(2);
              }
          }   

      </script>
    
{% endblock %}b
